body {
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Preto */
    color: #00ff00; /* Verde */
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #000000; /* Preto */
    color: #00ff00; /* Verde */
    padding: 1rem 0;
}

.navbar-brand, .nav-link {
    color: #00ff00; /* Verde */
}

.navbar-brand:hover, .nav-link:hover {
    color: #ffffff; /* Branco */
}

.hero {
    background-color: #000000; /* Preto */
    color: #00ff00; /* Verde */
    padding: 5rem 0;
}

.hero-buttons .btn-primary {
    background-color: #00ff00; /* Verde */
    border: none;
    color: #000000; /* Preto */
}

.hero-buttons .btn-secondary {
    background-color: #ffffff; /* Branco */
    border: none;
    color: #000000; /* Preto */
}

.sobre, .projetos, .habilidades, .contato {
    background-color: #000000; /* Preto */
    color: #00ff00; /* Verde */
}

.sobre h2, .projetos h2, .habilidades h2, .contato h2 {
    color: #00ff00; /* Verde */
}

.card {
    background-color: #000000; /* Preto */
    border: 1px solid #00ff00; /* Verde */
}

.card-title, .card-text {
    color: #00ff00; /* Verde */
}

.btn {
    background-color: #00ff00; /* Verde */
    border: none;
    color: #000000; /* Preto */
}

.btn:hover {
    background-color: #ffffff; /* Branco */
    color: #000000; /* Preto */
}

footer {
    background-color: #000000; /* Preto */
    color: #00ff00; /* Verde */
}

footer p {
    margin: 0;
}